!!!
//if lt IE 7
	html.no-js.ie6.oldie(lang="en")
//if IE 7
	html.no-js.ie7.oldie(lang="en")
//if IE 8
	html.no-js.ie8.oldie(lang="en")
//if gt IE 8
html.no-js(lang="en")
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
body!= body
meta(charset="utf-8")
meta(description="")

link(rel='stylesheet',href='stylesheets/reset.css')

link(rel='stylesheet',href='/stylesheets/text.css')
link(rel='stylesheet',href='/stylesheets/buttons.css')
link(rel='stylesheet',href='/stylesheets/theme-default.css')
link(rel='stylesheet',href='/stylesheets/login.css')
link(rel='stylesheet',href='/stylesheets/all.css')